$smallMobile: 479px;
$mobile: 639px;
$tablet: 959px;
$desktop: 1199px;

$color_gray1: #3a3a3a;
$color_gray2: #616161;
$color_gray3: #898989;
$color_gray4: #b0b0b0;
$color_gray5: #d8d8d8;

$backgroundColor_dark: #f9f1e7;
$backgroundColor_light: #fcf8f3;
$color_button: #e89f71;
$color_text: $color_gray3;
$color_title: $color_gray1;
$card: $color_gray1;
$color_old-price: $color_gray4;
$card_down: #f4f5f7;
$green: #2ec1ac;
$discount: #e97171;
$footer_line: $color_gray5;
$white: white;
$black: black;
