@import "./fonts";
@import "./vars";
@import "./mixins";
@import "./typography";
@import "./blocks/wrapper";
@import "./blocks/carousel";

.button {
    border: none;
    border-radius: 15px;
    background-color: cornflowerblue;
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 80px);
    column-gap: 10px;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: white;
}

.instruction {
    &__title {
        text-align: center;
    }

    &__list {
        padding-left: 0;
    }

    &__item {
        display: flex;
    }

    &__img {
        width: 30px;
        height: 30px;
        margin: 30px;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}

.rules {
    &__title {
        text-align: center;
    }

    &__list {
        list-style: none;
        padding-left: 0;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin: 30px;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 30px 0;
        display: flex;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}

.footer {
    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 30px;
        padding-left: 0;
    }

    &__item {
        width: 25px;
        height: 25px;
        margin: 0 10px;
    }
}