.card_carous {
  background-color: beige;
  height: 50vh;
}
.card_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.gallery_card {
  width: 18rem;
  img {
    height: 300px;
    object-fit: cover;
  }
}

.presentation_content {
  height: auto;
}
.presentation {
  margin-bottom: 50px;
}
.card__search {
  display: flex;
  gap: 50px;
}
.wrap_init {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
